<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>자주하는 질문 - 컬리</title>
    
    <!-- font:'Noto Sans KR', sans-serif -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">


    <!-- css -->
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/defalult.css">
    <link rel="stylesheet" href="../assets/css/kurly.css">
    

</head>
<body>

<div class="header-container">
    <header>
        <ul class="user-wrap">
            <li><a href="#">회원가입</a></li>
            <li><a href="#">로그인</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>
    
        <div class="logo-search-util-wrap">
            <div class="logo-wrap">
                <a class="logo" href=""><img src="../assets/images/logo.png"></a>
                <a class="market" href="">마켓컬리</a>
                <a class="beauty" href="">뷰티컬리</a>
            </div>
            <div class="search-wrap">
                <input class="txt-search" type="text" name="" value="">
                <button class="btn-search" type="button">검색</button>
            </div>
            <div class="util-wrap">
                <img src="../assets/images/pin_off.png">
                <img src="../assets/images/heart_off.png">
                <img src="../assets/images/cart_off.png">
            </div>
        </div>

        <nav>
            <button>
                <span>=</span>
                <span>카테고리</span>
            </button>
            <ul>
                <li>신상품</li>
                <li>베스트</li>
                <li>알뜰쇼핑</li>
                <li>특가/혜택</li>
            </ul>
            <a href="#"><span>샛별-택배</span><span>배송안내</span></a>
        </nav>

    </header>
</div>
<div class="body-container">
    본문
</div>
<div class="footer-container">
    부터
</div>


</body>
</html>